@import url(https://fonts.google.com/specimen/Outfit);

:root {
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.qr-image {
    height: 288px;
    width: 288px;
    border-radius: 20px;
}

.outer-wrapper {
    background-color: var(--White);
    border-radius: 20px;
    height: 443px;
    width: 288px;
    padding: 16px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: var(--Slate900);
    font-weight: 800;
    font-size: 16px;
    margin: 2rem 0 0 1rem;
}

h3 {
    color: var(--Slate500);
    font-weight: 500;
    font-size: 15px;
}

.text-wrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0px 16px 0px;
}

.container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 200px 0px; /* optional for spacing inside */
    background-color: var(--Slate300);
    display: flex;
    justify-content: center;
}

@media (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
}